.input {
	width: 232px;
	color: $input-txt;
	font-family: $ff;
	font-size: 18px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: 1;
	border-radius: $bord9;
	border: 0.745px solid rgba(0, 0, 0, 0.10);
	background-color: $input-bg;
	padding: 7px 0;
	text-align: center;
	transition: box-shadow ease $tr,
				color ease $tr,
				padding ease $tr;

	&::placeholder {
		text-align: center;
		opacity: 1;
		color: $input-txt;
		font-family: $ff;
		font-size: 18px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 1;

		@media all and (min-width: $lg) {
			font-size: 24px;
		}
	}

	&:focus {
		box-shadow: 0px 7px 57px -13px rgba(0, 0, 0, 0.205) inset;
		color: $black;

		&::placeholder {
			color: $black;
		}
	}

	@media all and (min-width: $sm) {
		width: 380px;
	}

	@media all and (min-width: $xl) {
		width: 532px;
		font-size: 24px;
		padding: 15px 0;
	}
}