.hero {
	padding: 233px 0 10px;

	&__items {
		padding: 34px 40px 40px 44px;
		border-radius: 25px;
		border: 1px solid $black;
		background-color: $white;
		box-shadow: $shadow;

		.h1 {
			margin-bottom: 12px;
		}
	}

	&__calendar {
		border-radius: $bord9;
		border: 0.745px solid rgba(0, 0, 0, 0.10);
		background: #FFFCFC;
		padding: 15px 12px 13px 13px;
		position: relative;
	}

	&__dates {
		margin-top: 22px;

		&_town {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}

		&_links, .hero__popular_links {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -20px;

			.event {
				padding: 0 20px;
				width: calc(100% / 5);
				margin-bottom: 30px;
				display: none;

				&.visible {
					display: flex;
				}

				&.static {
					display: flex;
				}
			}
		}
	}

	&__popular {
		margin-top: 65px;

		.h2 {
			margin-bottom: 20px;
		}
	}
}

.dates__button_wrapper {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}