.calendar__slider {
	position: relative;
	transition: padding-left ease 1s;

	&.additional-padding {
		padding-left: 50px;

		@media all and (min-width: $xxl) {
			padding-left: 100px;
		}
	}
}

.calendar__slide {
	display: flex;
	background-color: $white;

	&_inner {
		display: flex;
		flex-direction: column;
		width: 50%;

		&:last-child {
			margin-right: 0;
		}
	}

	&_events {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $sm) {
			flex-direction: row;
		}
	}

	&_date {
		display: flex;
	}

	&_month {
		color: $input-txt;
		font-family: $ff;
		font-size: 14px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 1;
		margin-bottom: 20px;

		@media all and (min-width: $lg) {
			font-size: 24px;
		}
	}

	&_item {
		display: flex;
		justify-content: center;
		width: 31px;
		height: 31px;
		border-radius: 50%;
		background-color: $dark;
		padding: 3px 0;
		margin-bottom: 10px;
		transition: background-color ease $tr;
		cursor: pointer;

		@media all and (min-width: $sm) {
			margin-right: 5px;
			margin-bottom: 0;
		}

		@media all and (min-width: $lg) {
			margin-right: 17px;

			&:nth-child(2n) {
				margin-right: 10px;
			}
			
		}

		@media all and (min-width: $xxl) {
			margin-right: 17px;
			padding: 7px 0;

			&:nth-child(2n) {
				margin-right: 15px;
			}
		}

		&:hover {
			background-color: $black;

			.calendar__slide_weekday,
			.calendar__slide_day {
				color: $white;
			}
		}

		@media all and (min-width: $md) {
			width: 51px;
			height: 51px;
		}
	}

	&_date {
		display: flex;
		flex-direction: column;
	}

	&_day,
	&_weekday {
		color: $black;
		font-family: $ff;
		font-size: 10px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 1;
		transition: color ease $tr;

		@media all and (min-width: $md) {
			font-size: 14px;
		}
	}

	&_day {
		margin-bottom: auto;
	}
}

.calendar__prev,
.calendar__next {
	display: none;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border-radius: 50%;
	transition: scale ease $tr,
		opacity ease 1s,
		visibility ease 1s;
	z-index: 10;

	&:active {
		scale: 1.1;
	}

	@media all and (min-width: $lg) {
		display: flex;
	}
}

.calendar__prev {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	img {
		transform: rotate(180deg);
	}
}

.calendar__next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.swiper-button-disabled {
	visibility: hidden;
	opacity: 0;
}