.header {
	padding: 36px 0 0;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 18px 90px 17px 44px;
		border-radius: $bord25;
		border: 1px solid $black;
		background-color: $white;
		box-shadow: $shadow;
		position: relative;
	}

	&__logo {
		width: 258px;
		height: 110px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__ui {
		display: flex;
		align-items: center;
	}

	&__search {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	&__geo {
		display: flex;
		align-items: center;

		.town {
			color: $black;
			font-family: $ff;
			font-size: 24px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 49.667%;
			cursor: pointer;
			transition: opacity ease $tr;
			margin-left: 12px;

			&:hover {
				opacity: $op;
			}
		}
	}

	&__lang {
		margin-left: 52px;
		font-size: 24px;
		color: rgb(56, 56, 56);
		font-family: $ff;
		font-size: 24px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 49.667%;
		

		.lang {
			cursor: pointer;
			transition: opacity ease $tr;

			&.active {
				color: $black;
				font-weight: $fw-extra;
			}
		
			&:hover {
				opacity: $op;
			}
		}
	}
}