.footer {
	padding: 36px 0 57px;

	&__wrapper {
		padding: 10px;
		border-radius: $bord25;
		border: 1px solid $black;
		background-color: $white;
		box-shadow: $shadow;

		@media all and (min-width: $lg) {
			padding: 40px 32px 36px 23px;
		}
	}

	.h2 {
		margin-bottom: 20px;
		text-align: center;

		@media all and (min-width: $lg) {
			text-align: left;
		}
	}

	&__logo {
		display: flex;
		flex-direction: column;
		width: 258px;
		height: 110px;
		transition: width ease $tr,
					height ease $tr;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: transform ease $tr;
		}

		&:hover {
			.footer__logo_top {
				transform: translateX(-20px);
			}

			.footer__logo_bot {
				transform: translateX(20px);
			}
		}

		@media all and (min-width: $xxl) {}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		@media all and (min-width: $lg) {
			margin-bottom: 0;
		}
	}

	&__link {
		margin-right: 19px;

		&:nth-child(2) {
			margin-right: 42px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}