.footer {
	padding: 36px 0 57px;

	&__wrapper {
		padding: 40px 32px 36px 23px;
		border-radius: $bord25;
		border: 1px solid $black;
		background-color: $white;
		box-shadow: $shadow;
	}

	.h2 {
		margin-bottom: 20px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__links {
		display: flex;
		align-items: center;
	}

	&__link {
		margin-right: 19px;

		&:nth-child(2) {
			margin-right: 42px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}