.hero__artists_wrapper {
	padding: 34px 40px 5px 44px;

	.h2 {
		margin-bottom: 20px;
	}
}

.hero__artists {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.hero__artist {
	width: calc(100% / 2);
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;

	@media all and (min-width: $sm) {
		width: calc(100% / 3);
	}

	@media all and (min-width: $lg) {}

	@media all and (min-width: $xl) {
		width: calc(100% / 7);
		margin-bottom: 0;
	}

	&_name {
		color: $black;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 1;
		text-align: center;
		margin-top: 10px;

		@media all and (min-width: $md) {
			font-size: 20px;
		}

		@media all and (min-width: $xxl) {
			font-size: 36px;
		}
	}
}